<header class="header-post" role="banner">
    <div class="content">
        {% if page.date %}
        <time itemprop="datePublished" datetime="{{ page.date }}" class="date">{{ page.date | date_to_string }}</time>
        {% endif %}
        <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
        <p itemprop="description" class="subtitle">{{ page.description }}</p>
    </div>
    <a class="down" data-scroll href="#scroll"><svg class="icon icon-angle-down">
            <use xlink:href="#icon-angle-down"></use>
        </svg></a>
    <div class="search-wrapper">
        <div class="search-form">
            <input type="text" class="search-field" placeholder="Search...">
            <svg class="icon-remove-sign">
                <use xlink:href="#icon-close"></use>
            </svg>
            <ul class="search-results search-list"></ul>
        </div>
    </div>

    <div id="fade" class="overlay"></div>
    <a id="slide" class="slideButton fade">
        <svg id="open" class="icon-menu" style="    cursor: pointer;
            padding: 0.313rem;
            border-radius: 0.188rem;
            background: black;
            width: 2.5rem;
            height: 2.5rem;
            fill: white;">
            <use xlink:href="#icon-menu"></use>
        </svg>
        <svg id="close" class="icon-menu" style="cursor: pointer;
            padding: 0.313rem;
            border-radius: 0.188rem;
            background: black;
            width: 2.5rem;
            height: 2.5rem;
            fill: white;">
            <use xlink:href="#icon-close"></use>
        </svg>
    </a>
    <aside id="sidebar">
        <nav id="navigation">
            <h2>MENU</h2>
            <ul>
                {% for link in site.links %}
                {% if link.external %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% else %}
                <li><a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </aside>
</header>